<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.ideasStudio.website.mapper.DistrictMapper">
	<!--获取省市区列表  -->
	<select id="getDistrictList" resultType="com.ideasStudio.website.entity.District">
		select id,name,parentid from district where parentid=#{parentId}
	</select>
	<!--获取地址  -->
	<select id="getDistrict" resultType="com.ideasStudio.website.entity.District">
		select id,name,parentid from district where id=#{id}
	</select>
</mapper>