.introduce{
    font-size: 1.9rem;
    font-family: 方正细等线简体;
    font-weight: bold;
    margin-top: 6rem;
    margin-bottom: 3rem;

}

.acrylic,.fiberboard,.canvaspaper{
    margin-top: 3rem;
   /* margin-right: 1rem;
    margin-left: 1rem;*/
}
.arts{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.button{
   width: 50%;
    margin: 0 auto;
}
.button:hover{
    cursor: pointer;
  /*  border: 1px solid #f3f1f1;*/
}

@media only screen and (max-width: 768px) and (min-width: 0px){
    .introduce{
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 2560px) and (min-width: 769px){
    .introduce{
        margin-top: 8rem;
    }
}
